{% extends 'usermatch/base.html' %}
{% block content %}
    {% if user_exist %}
        <div class="row">
            <span style="margin: 20 0 0 20; font-size: 28px;">구단주명: {{ userinfo.nickname }}<br>
                <span style="font-size: 20px; ">LV: {{ userinfo.level }}</span>
            </span>
        </div>
        <div style="font-size: 18px">
            최근 20경기({{ recentsummary.win }}승/{{ recentsummary.draw }}무/{{ recentsummary.lose }}패)<br>
            요약: 최근 {{ matchNum }}경기당 평균 기록
        </div>
        <div class="row">
            <div class="col-5 border border-secondary">
                {% if recentsummary %}
                    <div>
                        승률 : {{ recentsummary.avg_winrate }} <br>
                        득점 : {{ recentsummary.avg_score }} <br>
                        실점 : {{ recentsummary.avg_against_score }} <br>
                        공격성공률(골/슈팅) : {{ recentsummary.goal_successrate }} <br>
                        패스성공/시도 수 : {{ recentsummary.pass_successrate }} <br>
                        드리블 평균 거리 : {{ recentsummary.avg_dribble }} <br>
                    </div>
                {% else %}
                    <div>
                        공식경기 기록 없음
                    </div>
                {% endif %}
            </div>
        </div>
    {%else%}
      <div>
          공식경기 기록 없음
      </div>
    {% endif %}

    {% if recentmatchInfo %}
        <div class="matchList">
        {% for match in recentmatchInfo %}
            {% if match.winlose == "승" or match.winlose == "몰수승" %}
                <div class="oneMatch-win">
                    매치일시 : {{ match.matchdate }}
                    내팀 : {{ match.myteam }}
                    내점수 : {{ match.myscore }}
                    상대팀점수 : {{ match.opponentscore }}
                    상대팀 : {{ match.opponentteam }}
                    결과 : {{ match.winlose }}
            {% endif %}
            {% if match.winlose == "패" or match.winlose == "몰수패" %}
                <div class="oneMatch-lose">
                    매치일시 : {{ match.matchdate }}
                    내팀 : {{ match.myteam }}
                    내점수 : {{ match.myscore }}
                    상대팀점수 : {{ match.opponentscore }}
                    상대팀 : {{ match.opponentteam }}
                    결과 : {{ match.winlose }}
            {% endif %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div>
            공식경기 기록 없음
        </div>
    {% endif %}
{% endblock %}
