<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:100,300,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'usermatch/css/home.css' %}">
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <title>FIFA.GG</title>
</head>
<body>
    <div class="menubar">
        <ul class="menu-list">
            <h1 class="fifa-logo">
                <a href="/">
                    <img alt="FIFA-SEARCH" src="/static/usermatch/img/fifa-logo.png" width="40">
                </a>
            </h1>
            <li class="selected-menu">
                <a href="{% url 'usermatch:home' %}">홈</a><!--피파 로고 자리-->
            <li class="not-selected-menu">
                <a href="{% url 'usermatch:recentmatch_summary' %}">선수 통계</a>
            </li>
            <li class="not-selected-menu">
                <a href="{% url 'usermatch:bymatch' %}">랭킹</a>
            </li>
            {% block search-form %}
            {% endblock %}
        </ul>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
